@function resource($path) {
  @return "../" + $path;
}

@import "colors";
@import "core/fonts";
@import "icon";
@import "components/menu";
@import "components/main";

*, ::before, ::after {
  transition: inherit;
}

body, html {
  direction: #{if($is_rtl, rtl, ltr)};
  text-align: #{if($is_rtl, "right", "left")};
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../images/background.png");
  background-repeat: repeat;
}

body {
  background-image: url("../images/background.png");
  background-repeat: repeat;
  color: $main_text-color;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

div {
  box-sizing: border-box;
}


#whole {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;

  #menu {
    width: 5%;
    background-color: rgb(92, 45, 122);
  }

  #main {
    width: 95%;
    overflow: auto;

    #header {
      display: none;
      background-color: rgb(92, 45, 122);

      .space {
        margin-left: auto;
      }

      .contact {
        margin-right: auto;
        font-size: 6vw;
        color: white;

        span {
          cursor: pointer;
          transition: color 250ms;

          &:hover {
            color: #ce9227;
          }
        }
      }

      div {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .logo {
        padding: 1%;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    #footer {
      color: white;
      display: none;
      font-size: 3vw;
      padding: 3% 6%;
      flex-wrap: wrap;
      background-color: rgb(61, 42, 94);

      a {
        display: flex;
        margin-top: 3%;
      }

      i {
        margin-right: 3%;
      }

      .info {
        width: 50%;
        text-align: justify;
        line-height: 187%;
      }

      .contact {
        direction: ltr;
        width: 50%;
        display: flex;
        text-align: left;
        flex-direction: column;
      }

      .copy-right {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        text-align: center;
        color: rgb(128, 75, 146);
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  #whole #main {
    width: 100%;

    #header {
      display: flex;
    }

    #footer {
      display: flex;
    }

  }
}