@import "core/bootstrap";
@import "colors";
@import "core/fonts";
@import "core/fullpage.min";
@import "components/paginator";

*, ::before, ::after {
  transition: inherit;
}

body, html {
  direction: #{if($is_rtl, rtl, ltr)};
  text-align: #{if($is_rtl, "right", "left")};
}

body {
  background-color: $background-color;
  color: $main_text-color;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

div {
  box-sizing: border-box;
}