@function resource($path) {
  @return "../" + $path;
}

@import "core/bootstrap";
@import "colors";
@import "core/fonts";
@import "icon";
@import "core/fullpage.min";
@import "components/menu";
@import "components/main";

*, ::before, ::after {
  transition: inherit;
}

body, html {
  direction: #{if($is_rtl, rtl, ltr)};
  text-align: #{if($is_rtl, "right", "left")};
  height: 100%;
}

body {
  background-color: $background-color;
  color: $main_text-color;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

div {
  box-sizing: border-box;
}


#page {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;

  #menu {
    flex-basis: 130px;
    background-color: rgb(92, 45, 122);
  }

  #main {
    flex-grow: 1;
    overflow: auto;
  }
}