#main {
  background-image: url("../images/background.png");
  background-repeat: repeat;

  #back {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);

    #svgPath {
      transition-delay: 500ms;
      transition: all 500ms;
      opacity: 0;
    }
  }

  #contain {
    margin-top: -10%;
    position: relative;
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .text {
    font-size: 1.5vw;
    font-weight: 700;
    color: #242424;
    text-align: justify;
    word-spacing: -0.1vw;

    .plus {
      padding-left: 1%;
      font-size: 150%;
      vertical-align: middle;
      transform: rotate(45deg);
      color: rgb(227, 171, 78);
      display: inline-block;
    }

    .head {
      font-size: 2vw;
      color: rgb(227, 171, 78);
    }

    p {
      margin-bottom: -2%;
    }
  }

  #page1 {
    display: flex;
    flex-direction: row;

    img {
      width: 100%;
    }

    .logo {
      flex-grow: 1;
      position: relative;
      transform: scale(1.3);

      img {
        left: 50%;
        top: 50%;

        &.back {
          transform: translate(-50%, -50%);
        }

        &.main {
          transform: translate(-50%, -56%);
        }

        position: absolute;
      }
    }

    .left, .right {
      width: 32%;
    }
  }

  #page2 {
    padding-top: 63%;
    position: relative;

    #movie {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../images/film-cover.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      margin-top: 7.2%;
    }
  }

  #page3 {
    display: flex;
    .image {
      width: 50%;
      padding-top: 10%;
    }

    .text {
      width: 50%;
      padding-right: 8%;
      margin-top: 8%;
    }

    .image-1 {
      transform: translate(3%, -13%);
      width: 70%;
    }

    .image-2 {
      width: 57%;
      transform: translate(-5%, -4%);
    }
  }

  #page4 {
    display: flex;
    .image {
      width: 50%;
      padding-top: 20%;
    }

    .text {
      width: 50%;
      margin-top: 13%;
      padding-left: 7%;
    }

    img {
      width: 76%;
      transform: translate(4%, -7%);
    }
  }

  #page5 {
    display: flex;
    .image {
      width: 50%;
      padding-top: 23%;
    }

    .text {
      width: 50%;
      padding-right: 8%;
      margin-top: 21%;
      padding-left: 7%;
    }


    img {
      width: 63%;
      transform: translate(11%, 6%);

    }
  }

  #page6 {
    display: flex;
    .image {
      width: 50%;
      padding-top: 17%;
    }

    .text {
      width: 50%;
      margin-top: 21%;
      padding-left: 11%;
    }

    img {
      width: 60%;
      transform: translate(-23%, 5%);
    }

    .judge-1, .judge-2 {
      display: flex;

      .image {
        flex-basis: 20%;
        display: flex;
        justify-content: right;
        align-items: center;
      }

      .text {
        flex-basis: 80%;
      }
    }
  }

  #back {
    position: absolute;
    top: 0;
  }
}