#man2, #man1, #man3, #man4 {
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: linear;
}

#main {
  background-image: url("../images/background.png");
  background-repeat: repeat;
  height: 100%;

  .tile {
    opacity: 0;
    transform: translateY(-50px);
    transition-property: all;
    transition-duration: 400ms;

    &.inView {
      opacity: 1;
      transform: translateY(0);
    }
  }

  #content {
    position: relative;
  }

  #back, #back2 {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 6%;
    height: 115%;

    #svgPath, #svgPath2 {
      transition-delay: 500ms;
      transition: all 500ms;
      opacity: 0;
    }
  }

  #back2 {
    display: none;
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .text {
    font-size: 1.5vw;
    font-weight: 700;
    color: #242424;
    text-align: justify;
    word-spacing: -0.1vw;

    .plus {
      padding-left: 1%;
      font-size: 150%;
      vertical-align: middle;
      transform: rotate(45deg);
      color: rgb(227, 171, 78);
      display: inline-block;
    }

    .head {
      font-size: 2vw;
      color: rgb(227, 171, 78);
    }

    p {
      margin-bottom: -2%;
    }
  }

  #page1 {
    display: flex;
    flex-direction: row;
    overflow: hidden;

    img {
      width: 100%;
    }

    .logo {
      flex-grow: 1;
      position: relative;

      .back, .main {
        width: 125%;
      }

      img {
        left: 50%;
        top: 50%;

        &.back {
          transform: translate(-50%, -50%);
        }

        &.main {
          transform: translate(-50%, -56%);
        }

        position: absolute;
      }
    }

    .left, .right {
      width: 32%;
    }
  }

  #page2 {
    padding-top: 63%;
    position: relative;
    overflow: hidden;

    #movie {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 100%;
      background-image: url("../images/film-cover.svg");
      background-repeat: no-repeat;
      background-position: center -30%;
      background-size: contain;
      margin-top: 7.2%;
    }
  }

  #page3 {
    display: flex;

    .image {
      width: 50%;
      padding-top: 10%;
    }

    .text {
      width: 50%;
      padding-right: 8%;
      margin-top: 8%;
    }

    .image-1 {
      transform: translate(3%, -13%);
      width: 70%;
    }

    .image-2 {
      width: 57%;
      transform: translate(-5%, -4%);
    }
  }

  #page4 {
    display: flex;

    .image {
      width: 50%;
      padding-top: 20%;
    }

    .text {
      width: 50%;
      margin-top: 13%;
      padding-left: 7%;
    }

    img {
      width: 76%;
      transform: translate(4%, -7%);
    }
  }

  #page5 {
    display: flex;
    margin-top: 13%;

    .image {
      width: 50%;
      padding-top: 7%;
    }

    .text {
      width: 50%;
      padding-right: 8%;
      margin-top: 8%;
      padding-left: 7%;
    }


    img {
      width: 63%;
      transform: translate(11%, 6%);
    }
  }

  #page6 {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 35%;

    .image {
      width: 50%;
      padding-top: 17%;
    }

    .text {
      width: 50%;
      margin-top: 21%;
      padding-left: 11%;
    }

    img {
      width: 60%;
      transform: translate(-23%, 5%);
    }

    .judges {
      position: absolute;
      height: 100%;
      top: 80%;
      display: flex;
      width: 100%;
      padding: 0 7%;

      .name {
        font-weight: 600;
        font-size: 1.5vw;
        color: #242424;
      }

      .image {
        width: 25%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          transform: none;
          width: 100%;
        }
      }

      .judge-1, .judge-2 {
        display: flex;
        width: 50%;
        column-gap: 6%;

        .name {
          display: flex;
          justify-content: center;
          flex-direction: column;
        }
      }
    }
  }

  #page7 {

    position: relative;

    .form {
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 10% 7%;

      .row-1, .row-2 {
        width: 100%;
        display: flex;
        column-gap: 2%;
      }

      .row-2 {
        display: flex;
        flex-direction: column;
        margin-top: 2%;
        row-gap: 2%;
      }

      .row-3 {
        margin-top: 2%;
        display: flex;
        justify-content: left;
        column-gap: 2%;
      }

      #submit {
        transition: background-color 250ms;
        cursor: pointer;
        padding: 0.9% 5%;
        height: 100%;
        font-size: 1.2vw;
        color: white;
        background-color: #e3ab4e;

        &:hover {
          background-color: #ce9227;
        }

        span {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      #attach {
        cursor: pointer;
        font-size: 1.5vw;
        padding: 1% .8%;
        color: white;
        background-color: #e3ab4e;
        transition: background-color 250ms;
        span {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &:hover {
          background-color: #ce9227;
        }
      }

      .row-1 {
        div {
          row-gap: 2%;
          display: flex;
          flex-direction: column;
        }
      }

      label {
        color: #5c2d7a;
        font-size: 1.5vw;
        font-weight: 700;
      }

      input, textarea, button {
        resize: none;
        border-radius: 7px;
        height: 100%;
        padding: 3%;
        background-color: transparent;
        border: 2px solid rgb(231, 169, 62);
      }

      .name {
        width: 20%;
      }

      .phone {
        width: 20%;
      }

      .age {
        width: 5%;
      }

      .city {
        width: 10%;
      }

      .how {
        flex-grow: 1;
      }

      #info {
        flex-grow: 1;
      }
    }
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  #main .text {
    font-size: 1.4vw;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  #main {
    .text {
      font-size: 3.3vw;

      .head {
        font-size: 4vw;
      }
    }

    #back {
      display: none;
    }

    #back2 {
      top: 5.9%;
      display: block;
    }

    #page1 {
      .logo .back, .logo .main {
        width: 1325%;
      }

      .left, .right {
        width: 48%;
      }
    }

    #page2 {
      padding-top: 105%;

      #movie {
        width: 125%;
      }
    }

    #page3 {
      flex-direction: column-reverse;

      .image {
        width: 100%;
        flex-direction: row;
        padding-top: 0;
      }

      .text {
        width: 100%;
        padding: 0 9%;
      }

      .image-1 {
        width: 48%;
        transform: translate(14%, -3%);
      }

      .image-2 {
        width: 40%;
        transform: none;
      }
    }

    #page4 {
      flex-direction: column;

      .image {
        width: 100%;
      }

      img {
        transform: translate(7%, -10%);
        width: 65%;
      }

      .text {
        width: 100%;
        padding: 0 9%;
        margin-top: -2%;

        p {
          margin-bottom: -4%;
        }
      }
    }

    #page5 {
      flex-direction: column-reverse;

      .image {
        width: 100%;
      }

      img {
        transform: translate(7%, -10%);
        width: 56%;
      }

      .text {
        width: 100%;
        padding: 0 9%;
        margin-top: -2%;

        p {
          margin-bottom: -4%;
        }
      }
    }

    #page6 {
      flex-direction: column;
      margin-bottom: 90%;

      .image {
        width: 100%;
      }

      img {
        transform: translate(-2%, -4%);
        width: 52%;
      }

      .judges {
        row-gap: 18%;
        position: absolute;
        height: 100%;
        top: 106%;
        flex-direction: column;
        display: flex;
        width: 100%;
        padding: 17%;

        .judge-1, .judge-2 {
          display: flex;
          width: 105%;
          column-gap: 6%;
        }
      }

      .text {
        width: 100%;
        padding: 0 9%;
        margin-top: -2%;

        p {
          margin-bottom: -4%;
        }
      }
    }

    #page7 {
      .form {
        #submit {
          font-size: 2.6vw;
        }

        #attach {
          font-size: 3.5vw;
        }

        label {
          font-size: 3.1vw;
        }

        .row-1 {
          flex-wrap: wrap;
          row-gap: 10px;
        }

        .name {
          flex-basis: 49%;
        }

        .phone {
          flex-basis: 49%;
        }

        .age {
          width: 10%;
        }

        .city {
          width: 37%;
        }

        .how {
          flex-grow: 1;
        }

        #info {
          flex-grow: 1;
        }
      }
    }
  }
}